.item {
    width: 300px;
    padding: 30px;
}

.catalog {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 20px;
}

menu {
    padding-left: 0;
}

.menu__link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.menu__link:visited {
    color: cornflowerblue;
}

.title {
    color: #222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.subtitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}